/*
Redmi note 8
*/

@media  (max-width: 450px) {
    #counter-content {
        width: 140px !important;
        height: 140px !important;
    }
    #counter {
        font-size: 27px !important;
    }

    .wrapper {
        width: 75% !important;
    }
    
    .ticket {
        aspect-ratio: 5/8 !important;
        width: 100% !important;
    }

    #title {
        opacity: .8 !important;
        font-size: 2rem !important;
        font-weight: 600 !important;
        letter-spacing: 1px !important;
        font-style: bold !important;
    }
    
    #frase {
        opacity: .8 !important;
        font-size: 1rem !important;
        font-weight: 500 !important;
        font-style: bold !important;
        width: 80% !important;
    }
    
    #footer-card {
        opacity: .8;
        font-size: 1rem !important;
        font-weight: 500 !important;
    }

    #img-card {
        left: -20% !important;
        width: 60% !important;
    }

}
