#menu-change {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

#menu-change button {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    outline: none;
    border: none;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.selected {
    transform: scale(.8) !important;
    background-color: transparent !important;
}

#menu-change button:hover {
    background-color: transparent;
    transform: scale(.8);
}

#menu-change button:focus {
    background-color: transparent;
}