#menu-change {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

#menu-change button {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    outline: none;
    border: none;
    width: 70px;
    border-radius: 10px;
}

